[2015-11-23 03:56] mattab opened #2 "Remove Extraction rules feature for Visit scope Custom Dimensions"
Extraction rules from Page URL, Page Title, Page URL query parameter, make sense for "Action" scope Custom dimension. Let's remove this feature for "Visit" scope custom dimension.

[2015-11-23 03:57] mattab opened #3 "Write User Guide for Custom Dimensions feature"
Once the plugin is in late-beta cycle, has been tested in production, let's write a User Guide to explain to users how to make the most of this powerful new feature :+1:

[2015-11-23 06:14] mattab opened #4 "Small change to CustomDimension.getAvailableExtractionDimension output"
Current getAvailableExtractionDimension API output is:

[code]

Small changes suggested:

- url -> `page_url`
- urlparam -> `page_url_param`
- action_name -> `page_title`

[2015-11-23 06:16] mattab opened #5 "Small change to CustomDimension.getAvailableScopes"
[code]

Small suggested changes (for API consistency)

 * numSlotsAvailable -> nb_slots_available
 * numSlotsUsed -> nb_slots_used
 * numSlotsLeft -> nb_slots_left

[2015-11-23 20:53] tsteur commented on #5
Those are not metrics and see other API output like `getSegmentsMetadata` or `getReportMetadata` etc where we use camelCase.

[2015-11-23 20:53] #5 closed

[2015-11-23 20:53] tsteur commented on #4
I prefer just `url` as we can easily extend it that way and allow other dimensions later. They map to tracking API parameters.

[2015-11-23 20:53] #4 closed

[2015-11-23 21:16] tsteur commented on #5
Also they contain now info like `supportsExtractions => true/false` and we don't want to use  `supports_extractions` there

[2015-11-23 21:17] tsteur commented on #4
Just FYI: Technically we could already allow to select any tracking dimension there, would be easy I think. It will be easier to link to HTTP tracking API and to let users know they could pick any parameter there

[2015-11-24 01:01] #2 closed

[2015-11-24 01:44] mattab opened #6 "Document advantages of Custom Dimensions over Custom Variables"
Goal: create a FAQ, or User Guide section #3 to document advantages of Custom Dimensions over Custom Variables:

 * Easier to track:
  * no need to think about choosing an un-used integer slot (each dimension has its own slot)
  * no need to set the scope every time (each dimension scope is defined once when creating dimension)
 * One defines the name of a custom dimension in the UI. So one can ch

[2015-11-24 02:13] mattab opened #7 "Refreshing page does not set extraction rules"
* Create a custom dimension with extraction rule "Page URL Parameter"
* Save
* Refresh the page: the extraction rule is set to "Page URL" (expected: "page Url parameter")

(same problem if extraction rule is "Page title")

[2015-11-24 02:33] mattab opened #8 "minor: move 'Active' checkbox to left"
Expected to see the `Active` checkbox left aligned on screen. (it would look nicer)

See screenshot below for current output:

![move checkbox to left](https://cloud.githubusercontent.com/assets/466765/11356226/8dcc2ba4-92c0-11e5-9c50-8c5831021109.png)

[2015-11-24 02:48] mattab opened #9 "Show "Goals" icon for Custom Dimensions report of scope 'Visit'"
We process conversion rates, conversions, for each Goal defined, for Custom Dimension of scope 'Visit'.

Therefore let's add the Goal icon for those custom dimensions.

[2015-11-24 02:50] #9 closed

[2015-11-24 03:45] mattab opened #10 "Data export of CustomDimensions does not have valid format"
Got:
[code]

Expected standard Piwik format eg. `<label>, <nb_uniq_visitors> ` etc.

[2015-11-24 03:47] mattab commented on #10
Note: it seems to work fine for Custom Dimension of `visit` scope, but is buggy for `action` scope.

[2015-11-24 03:58] mattab opened #11 "Switching between table / graphs views in Dashboard widgets results in error `( ! ) Fatal error: Cannot unset string offsets in /home/matt/dev/piwik-master/core/ViewDataTable/Config.php on line 587`"
* Add a custom dimension widget to dashboard
 * refresh
 * click to view widget as graph
 * click to view widget as table

Got:

[code]

[2015-11-24 04:03] mattab commented on #11
Also got a different but almost same error (when switching from "insights view" to "graph view")

[code]

[2015-11-24 04:05] mattab commented on #11
likely related are these warnings:

![warnings](https://cloud.githubusercontent.com/assets/466765/11357588/88d2d85c-92cd-11e5-8d0b-1829ffe944af.png)

[2015-11-24 04:15] mattab opened #12 "Build fails on Mysqli"
The build has been failing on Mysqli

Added debugging in branch: https://github.com/piwik/piwik/commit/0b1ab19e50ab7fac0af2fe484b3c1161a1e23e86

Here is the build output: https://travis-ci.org/piwik/piwik/jobs/92858792

(I've just restarted it as it timed out at first - not sure if the CI job will complete)

[2015-11-24 19:45] tsteur commented on #8
Which browser etc? I cannot reproduce

[2015-11-24 19:57] #7 closed

[2015-11-24 20:03] #8 closed

[2015-11-24 20:04] tsteur commented on #8
Saw it is in browser. Next time please mention browser information. It's actually a bug in Piwik to not render them correctly

[2015-11-24 20:43] tsteur commented on #10
can't reproduce that one

[2015-11-24 20:58] tsteur commented on #11
Cannot reproduce

[2015-11-24 21:08] mattab commented on #12
one integration test is failing:

[code]

and system tests:

[code]

[2015-11-25 01:50] mattab commented on #12
fixed in https://github.com/piwik/plugin-CustomDimensions/commit/e67e2ce7908152cb3138af333ed7f015acba8d02

[2015-11-25 01:50] #12 closed

[2015-11-26 22:09] RMastop opened #14 "no results from getSuggestedValuesForSegment dimension1"
I noticed segmentation fails when using CustomDimension data as part of the condition.

I noticed the API call for method=API.getSuggestedValuesForSegment&segmentName=dimension1 returns no results.

The dimension report itself shows all data that was tracked for this CustomDimension.

[2015-11-27 02:51] mattab commented on #10
Also can't reproduce anymore

[2015-11-27 02:51] #10 closed

[2015-11-27 02:56] mattab opened #15 "Row evolution for Custom Dimension errors in dashboard widget (but works OK in standalone report)"
Reproduce: http://demo2.piwik.org/index.php?module=CoreHome&action=index&idSite=1&period=month&date=today#?module=Dashboard&action=embeddedIndex&idSite=1&period=month&date=today&idDashboard=1&popover=RowAction$3ARowEvolution$3ACustomDimensions.getCustomDimension$3A$257B$257D$3A183

Error in popover: `Error: Requested report CustomDimensions.getCustomDimension for Website id=1 not found in the list

[2015-11-27 02:58] #11 closed

[2015-11-27 03:27] mattab commented on #14
Thanks for the report!

[2015-11-29 19:49] tsteur commented on #14
FYI: That's only for custom dimensions in scope action

[2015-11-29 20:48] #14 closed

[2015-11-29 21:05] tsteur commented on #15
Fixing this issue will take 3-8 hours I reckon and it's similar problem to why it is not easily possible to forward a segment to row evolution in https://github.com/piwik/piwik/pull/9301

BTW: Noticed I was assigned to this issue and unassigned myself

[2015-11-29 23:04] tsteur opened #18 "Add possibility to test a certain regex (extraction definition)"
We could simply link to any regex online testing tool in the inline help. Alternatively there could be like a `test` icon behind each extraction linking to such a tool. Maybe there are even some tools that allow to already pass a regex via URL parameter.

We could also offer a testing tool ourselves but would be much work. We could like offer a text field to enter a URL or an Action Name followed

[2015-12-02 19:59] tsteur commented on #15
Current workaround is to disable row evolution if it is widgetized in dashboard. It will still work if it is exported as a widget (once there is a new beta of Piwik, had to fix this one in core). I'm not sure if you want to leave the issue open or if we should maybe create one in core so that row evolution can handle `parameters` defined in report metadata such as `idGoal` or `idDimension`

[2015-12-02 22:29] tsteur commented on #6
I did not really know what to write... maybe something like this:

## What is the difference between Custom Dimensions and Custom Variables?

[Custom Dimensions](LINK_TO_GUIDE) are similar to [Custom Variables](https://piwik.org/docs/custom-variables/) but they provide several advantages:

* Each dimension has it's own menu item under either "Visitors" or "Actions" making them first class citizen

[2015-12-02 23:13] tsteur commented on #3
Did not really know what to write here as well. I'm sure you can tweak and improve it:

# What is a Custom Dimension

With Custom Dimensions you can assign any custom data to your visitors or actions (like pages, events, ...) and then visualize the reports of how many visits, conversions, pageviews, etc. there were for each Custom Dimension. They are similar to [Custom Variables](https://piwik.org

[2015-12-03 20:10] tsteur commented on #3
Once this guide is created we need to link from the UI to this guide

[2015-12-03 21:29] tsteur commented on #3
This should be in the guide as well:

### Segmenting a Custom Dimension by Action type

By default a report for a Custom Dimension in scope "Action" shows values across all kind of actions. To see only Custom Dimension values for a specific type of actions, say "Page views" or "Downloads" you can create a new segment using "Action Type".

![image](https://cloud.githubusercontent.com/assets/273120/

[2015-12-06 23:56] mattab commented on #6
Thanks this is great. Created [ What is the difference between Custom Dimensions and Custom Variables?](https://piwik.org/faq/general/faq_21117/)

[2015-12-06 23:56] #6 closed

[2015-12-07 01:37] mattab commented on #3
Awesome thanks @tsteur

 * Created user Guide: [Custom Dimensions](https://piwik.org/docs/custom-dimensions/)

[2015-12-07 01:37] #3 closed

[2015-12-09 11:39] RMastop opened #20 "Live.getLastVisitsDetails exports no data from customDimensions"
I use the export the getLastVisistsDetails a lot, but I noticed the the customDimensions are not part of the output.

[2015-12-11 13:35] RMastop opened #21 "Page URL Parameter is extracting data from other URL Parameters containing the string instead of the exact parameter string"
When adding a Custom Dimension with Extract value:
Page URL Parameter: type

The data from URL Parameter 'informationtype' is added to Custom Dimension 'type'.

In my opinion, it looks like it is using parameter contains, instead of parameter is.

[2015-12-14 19:16] RMastop opened #22 "add possibility to process historic data on new Custom Dimensions."
It would be really powerfull if one, after creating a new custom dimension, would  be able to process historic data with this new created custom dimension.
This should be a commandline option, where one could provide custom dimension id's to process, together with period (day, week, month, etc) together with  a date. (Or dates)

By supplying the dates and period, one could process a precise amount

[2016-01-20 20:10] mapkyca opened #23 "Using 2.15.1, can't get dimensions to work"
Example code:

[code]

I just get "value not defined".

Any thoughts?

[2016-01-22 13:48] jsprklst commented on #23
Same problem here. Also tried:

    _paq.push(['setCustomDimension', customDimensionId = 1, customDimensionValue = 'foo']);
    _paq.push(['setCustomDimension', customDimensionId = 2, customDimensionValue = 'bar']);

[2016-01-31 14:49] DarkWolf74 commented on #23
I have the same issue, though it does track with the following, it registers every single view as a refresh with two hits to the page view.

_paq.push(['trackPageView', pagetitle, {dimension2: 'two', dimension3: 'three'}]);

[2016-02-01 07:20] mattab opened #25 "show user that the current report is a Custom Dimension report"
It may not be clear to users that a given Custom Dimension report is indeed a Custom Dimension report. To make it "findable" that a user learns the report is a Custom Dimension, maybe we could add a "Help" text (accessible via the Help icon on the report title).

#### Proposal (to be improved)

 * `This report reports contains the values for your Custom Dimension '$name'. [a]Manage  Custom Dimensi

[2016-02-01 08:35] jsprklst commented on #23
Apparently (and naturally) the custom dimensions have to be set **before** trackPageView.

[2016-02-01 14:16] mapkyca commented on #23
Yep. That was it.

Perhaps docs should be updated to make this clear...?

[2016-02-01 14:16] #23 closed

[2016-02-03 03:22] mattab opened #26 "This plugin's system tests shouldn't fail when new Segments are added in core"
Reproduce:
 * a new segment is added to Piwik core
 * this plugin's system tests run
 * and fail: `#1: Piwik\Plugins\CustomDimensions\tests\System\ApiTest: Differences with expected in '/home/travis/build/piwik/plugin-CustomDimensions/piwik/plugins/CustomDimensions/tests/System/processed/test___API.getSegmentsMetadata.xml' ` because a new segment was added in core

Example:

this failing build  ht

[2016-02-08 10:26] hpvd opened #28 "custom dimensions in visitor log & visitor profile"
"custom variables" are shown in visitor log
see https://piwik.org/docs/custom-variables/#custom-variables-in-the-visitor-log

**Are "custom dimensions" also visible within visitor log and visitor profile?**
- if so it would be good to add this to docu
  https://piwik.org/docs/custom-dimensions/
  and also in screenshots on
  https://plugins.piwik.org/CustomDimensions
- if not, this is a feature re

[2016-02-09 15:37] webhamster opened #29 "Regex should allow for more than one group"
Bug:
There may be more than one "(" or ")" in regular expression used for dimension extraction although there is only one capturing group. Examples include non-capturing groups, modificators like "(?i)", and escaped character sequences like "\(". Regular expressions with more than one "(" or ")" are rejected currently.

Example:
(?i)example.com/(?:SOME_PART/)?([a-z]{2})(?:$|/)
This is captures exa

[2016-03-01 11:14] Blount opened #30 "JavaScript syntax error"
Hello,
On the edit page of custom dimensions, the example code contains an error :
 _paq.push(['setCustomDimension', 1, 'valeurDeDimension');
A ] is missing to close array.
I put this char before the last bracket.
 _paq.push(['setCustomDimension', 1, 'valeurDeDimension']);

[2016-03-05 15:54] kilanoff opened #31 "setCustomDimension does not send data"
no reaction on _paq. push ([' setCustomDimension ', 3, ' dimensionValue ']); and other variations too, except _paq. push ([' trackLink ', '/', ' fff ', {dimension1: ' DimensionValue '}]); that though and sends DimensionValue but does not install it anywhere.

version piwik 2/16/0
CustomDimensions (v0.1.4)

[2016-03-11 20:31] tmuic commented on #31
I noticed the same behaviour.
It is sent in request, but not stored.

[2016-03-12 07:47] kilanoff commented on #31
only works as follows:

_paq.push(['trackPageView', window.title, {dimension1: 'user1@yandex.ru, +7(999)555-66-11'}]);

see: Tracking a Custom Dimension for one specific action only
https://developer.piwik.org/guides/tracking-javascript-guide#custom-dimensions

[2016-03-15 00:17] mattab commented on #31
@kilanoff @tmuic Could you maybe share the full JS code that you are using and what you Got VS what you expected to get?

[2016-03-15 02:34] #30 closed

[2016-03-15 02:34] mattab commented on #30
Thank you @Blount for the report

[2016-03-15 05:06] kilanoff commented on #31
@mattab http://take.ms/ceXJE

[2016-03-15 09:37] mattab commented on #31
@kilanoff do you mind pasting the code here on Github?

[2016-03-15 10:25] kilanoff commented on #31
`
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.kilanoff.dev.test.com"]);
    _paq.push(["setDomains", ["*.kilanoff.dev.test.com"]]);
    // you can set up to 5 custom variables for each visitor
    _paq.push(["setDoNotTrack", true]);
    _paq.push(["disableCookies"]);

[2016-03-15 10:26] kilanoff commented on #31
`
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setCookieDomain", "*.kilanoff.dev.test.com"]);
    _paq.push(["setDomains", ["*.kilanoff.dev.test.com"]]);
    // you can set up to 5 custom variables for each visitor
    _paq.push(["setDoNotTrack", true]);
    _paq.push(["disableCookies"]);

[2016-03-15 10:27] kilanoff commented on #31
[code]

[2016-03-15 22:57] mattab commented on #31
@kilanoff can you paste the code that does not work for you?

[2016-03-15 22:58] tmuic commented on #31
_paq.push(['setCustomDimension', customDimensionId = 1, customDimensionValue = 'Test1234']);
        _paq.push(['trackPageView', infos.slice(-1)[0].name, {dimension2: 'F123'}]);

[2016-03-16 06:16] kilanoff commented on #31
@mattab see first post.

[2016-03-17 20:57] beatelite commented on #31
+ 1 This isn't working for me either. When I attempt this code from a button. _paq.push(['setCustomDimension', customDimensionId = 1, customDimensionValue = 'Test1234']);

I confirmed the dimension exists.

[2016-04-04 14:03] Fraifrai commented on #31
I have the same problem. In the Mediawiki's Piwik extension I cannot use the documented syntax
`_paq.push(['setCustomDimension', 1, 'valeurDeDimension');`
which inserts `Value not defined`
but had to replace `_paq.push(["trackPageView"]);` par  `_paq.push(["trackPageView", window.title, {dimension1: '{$dimension1}'}]);`

[2016-04-08 03:08] mattab commented on #31
As there have been several users reporting here this issue, i'm wondering what is the issue / root cause. @tsteur do you have some idea of why users have this issue?

@Fraifrai @beatelite @kilanoff @tmuic can you please send a URL to a page with the Piwik JS tracker and the non working `setCustomDimension` call? we'd like to troubleshoot this further.

[2016-04-12 22:02] tsteur commented on #31
Which Piwik, PHP and CustomDimension plugin version is everyone using?

Make sure latest plugin version of [CustomDimensions](http://plugins.piwik.org/CustomDimensions) is installed.

Also make sure the custom dimension is actually created and active.

[2016-04-12 22:07] tsteur commented on #31
Can you also check the plugin is actually activated (and on all your servers) by checking whether there is an entry `Plugins[] = "CustomDimensions"` in your `config/config.ini.php`?

Can you confirm there are database table columns in `log_visit` and `log_link_visit_action` starting with `custom_dimension_X` eg `custom_dimension_1` and one column `log_visit.last_idlink_va`?

Are there maybe any er

[2016-04-13 22:55] beatelite commented on #31
@tsteur ,

Personally, I am using the latest version of piwik 2.16.1 and custom dimensions plugin 0.1.4.

I know custom dimensions are working because I can update them from a regular page visit using this:

`_paq.push(['setCustomDimension', customDimensionId = 1, customDimensionValue = 'test']);`

When I visit the page with this tracker and then view the 1st dimension report, I see visits logged

[2016-04-14 00:39] tsteur commented on #31
@beatelite this sounds unrelated to the CustomDimensions then. Probably there's a problem with how the tracking code is integrated.

BTW: There's a comma missing after `1` in
[code]

If you send us an email to hello at piwik.org with the address to your website I can have a quick look if I find the problem. Please comment here in case you send us an email so we can have a look at the spam folder.

[2016-05-19 03:14] mattab commented on #31
Is this issue confirmed or were you able to solve this problem @kilanoff  @tmuic  @beatelite  @Fraifrai ?

[2016-05-19 10:09] kilanoff commented on #31
@mattab Sorry that long did not answer. I then problem solved as described, but not until the end. More detail I could no longer work with Piwik as switched to another job. Now to me, this task is no longer relevant. Thanks for the communication.

[2016-05-19 22:55] beatelite commented on #31
Yes, I'm still having one issue. The first one was solved like so.

`<button onclick="_paq.push(['trackGoal', 1, 0, {dimension1: 'TEST'}]);">Click Me</button>`

This registers in Goal 1 thanks to @tsteur suggestion of putting the comma after the goal integer and I had to make sure that the goal value (after the goal id) was set to 0 and not left blank. This works as expected.

Even though dimensio

[2016-05-19 23:01] tsteur commented on #31
Is it possible that you send us a link where we can try to reproduce this? feel free to send us an email to hello at piwik.org

[2016-05-19 23:02] tsteur commented on #31
Please comment once you send the details so we can have a look in the spam folder just in case.

[2016-05-19 23:02] beatelite commented on #31
I just sent.

[2016-05-22 23:23] tsteur commented on #31
Thx @beatelite

When trying to test it I can see an error in the browser developer tools console: `(index):348 Uncaught ReferenceError: _paq is not defined`

It looks like the Piwik tracking code is not embedded on this site

[2016-05-23 15:42] beatelite commented on #31
Is it because you're logged in as an admin? It won't show for admins.

Try a private window. I can see the tracking code in a private window.

[2016-05-23 21:02] tsteur commented on #31
Thanks, now I can see the tracking request when opening in a private window.

I think I understand the problem now. `setCustomDimension ` does not send directly a tracking request which is on purpose. The custom dimension will be only set with another tracking request like a pageview. A custom dimension is basically supposed to be set before the initial pageview tracking request or before an event

[2016-05-24 03:17] dz14 commented on #31
@tsteur Thanks for that. I was also confused because setCustomDimension alone does not work for me. Your explanation clarifies a lot, as the instructions on the Piwik website is a bit unclear.

[2016-05-24 07:07] tsteur commented on #31
Sweet. I'll have a look at the documentation tomorrow. Where did you read about it?

[2016-05-24 07:07] #31 closed

[2016-05-24 07:09] dz14 commented on #31
@tsteur I was trying to follow the guidance from this site. https://developer.piwik.org/guides/tracking-javascript-guide#custom-dimensions

[2016-05-24 07:17] tsteur commented on #31
Thank you. Already noticed the doc block in the code was wrong :) and will have a look on other pages

[2016-05-24 07:28] tsteur commented on #31
I made it a bit more clear: https://github.com/piwik/developer-documentation/commit/aabefce5feff508e14cdf3655256ab2379bc8d8f#diff-60f3612107814f4dba4f161a21efa02e

[2016-05-24 09:03] dz14 commented on #31
@tsteur The changes doesn't show up in https://developer.piwik.org/guides/tracking-javascript-guide#tracking-a-custom-dimension-across-tracking-requests, which is the link the GitHub repo directs people to.

[2016-05-24 13:15] beatelite commented on #31
Thanks a mill, @tsteur. That makes much more sense. I'll be sure to send it along with some event as stated.

[2016-05-27 22:29] mattab commented on #31
@dz14 the changes are now displayed in https://developer.piwik.org/guides/tracking-javascript-guide#tracking-a-custom-dimension-across-tracking-requests

[2016-06-10 17:33] tsteur commented on #26
As it is a system test it should kind of is supposed to fail and it's good when it's fail. That's the point of system tests. The test could be rewritten to an integration test but then we don't know if it actually works. I think it would be better to rather create better tools to fix system tests more easily

[2016-06-22 06:43] sebastianpiskorski opened #32 "Custom dimensions show null entry as `Value not defined`."
There is no way to tell CustomDimension to omit NULL values in reports. All entries with NULL values are reported as Value not defined in report table.

Scenario when I want to have only specific visits reported in in CustomDimension report is not possible.

[2016-06-22 11:06] tsteur commented on #32
This would require a config or setting if we are going to implement this. Would be also possible to solve with a separate plugin. Background: Initially this was a requirement by a client to have these values

[2016-06-27 13:00] sebastianpiskorski opened #33 "Havaing a composer.json would make it easier to load this plugin through composer."
As in title. Composer sometimes have problems with resolving dependencies when composer.json is not present.

[2016-07-08 00:02] mattab commented on #26
Correct & wise thought :+1:

[2016-07-08 02:57] mattab commented on #33
Hi @sebastianpiskorski

it is not needed to set composer.json when plugins are installed the standard way (via file upload, or marketplace, or via extracting in plugins/ folder)

[2016-07-08 02:57] #33 closed

[2016-07-24 21:06] dessant opened #34 "Cannot delete custom dimension"
There is a button for editing, but not for deleting.

[2016-08-03 11:24] ReiniHH opened #35 "Compatability with PIWIK version 2.16.2"
After updating piwik to 2.16.2 I get the following warning:

Since the update was security critical, I did not hesitate to upgrade piwik, but did not expect a core module to stop working.

Can you please priorize this issue?

UPDATE: just found out that re-installing the plugins was enough to get them working again. May be leave this issue open for others with the same irritating warning? Otherwis

[2016-08-03 15:39] adaqus opened #36 "Scheduled Reports: error while sending report using segment with custom dimension when 'All Websites dashboard' statistic is included"
Steps to reproduce:
1. Create any segment using custom dimension (let's name it dimensionSegment).
2. While creating new scheduled report, select dimensionSegment in 'Choose a segment'.
3. Check 'All Websites dashboard' in 'Statistics included'.
4. Click 'Update Report'.
5. Run ./console core:run-scheduled-tasks "Piwik\Plugins\ScheduledReports\API.sendReport_<ID OF CREATED REPORT>".

Following err

[2016-08-03 20:56] piwik-plugins-automation commented on #35
Hi there, can you check that you use the latest version of the plugin?

[2016-08-03 21:05] mattab commented on #36
Thank you for the bug report!

There could be several ways to solve this. In any case, the scheduled report should not completely fail to generate. Maybe we could  replace any failing statistics report such as the failing "All websites", by "The All Websites report could not be generated: $error_message". Other statistics added to the report should still generate.

There could be more elaborate so

[2016-08-03 21:16] mattab commented on #35
Hi there, can you check that you use the latest version of the plugin?

[2016-08-04 12:02] ReiniHH commented on #35
Makes no difference for me anymore, but thank you for the quick reaction! Hopefully other people will have an easier upgrade path now.

[2016-08-04 12:02] #35 closed

[2016-08-12 08:51] rsirres opened #38 "Adding Visitor Scope"
At the moment the custom dimensions plugin provides two scopes: Visit and Action.
I suggest to add another scope **Visitor**. This scope would be applied to all actions in current and future visits, until value changes or custom dimension is made inactive. This would be very interesting especially for people that use the UserId functionality.

What do you think?

[2016-09-01 07:03] rsirres opened #41 "Display custom events in reports"
At the moment the custom dimension report displays a fixed set of metrics (e.g. VISITS, UNIQUE VISITORS,	 USERS ACTIONS etc.).

It would be very desirable if we could add/remove metrics to the data table just like "Metrics to plot" functionality. We are especially interested in adding custom events.
![metrictoplot](https://cloud.githubusercontent.com/assets/3642076/18158266/865e0172-7022-11e6-8e29

[2016-09-01 07:10] rsirres commented on #32
Maybe we should improve the documentation that describes this behavior.

Consider the case we have 2 dimensions and the following JS tracking code snippet:
`_paq.push(['trackEvent', category, action, name, value, {dimension1: 'DimensionValue'}]);`

I would expect from the plugin to track only **dimension1** and ignore dimension2. Except we would explicitly tell the tracker to track given dimension

[2016-09-01 07:30] tsteur commented on #32
We could change the behaviour and actually not report them in the UI or API anymore. @mattab any preference?

[2016-09-27 03:50] mattab commented on #32
Sounds like a very useful improvement, to report `value not defined` only when the value was explicitly set in JavaScript/Tracking API as empty/null. So when users don't set it, it wouldn't increase the `Value not defined` metric.

[2016-09-27 03:51] mattab commented on #41
Sounds like a great idea @rsirres - unfortunately we don't have time/resource to work on this now. Unless maybe someone's willing to [sponsor this development](https://piwik.org/development/), or even better, submit a pull request :+1:

[2016-09-27 20:07] tsteur commented on #32
I'll try to have this in Piwik 3

[2016-10-07 09:32] tkapler opened #45 "Wrong placement of CustomDimensions settings in the User settings"
I believe, that CustomDimensions, as a global settings, not user related settings, should be placed under CoreAdmin, not under UserManager

[2016-10-07 20:42] mattab commented on #45
Thanks for suggestion. Done in Piwik 3 and the new CustomDimensions

[2016-10-07 20:42] #45 closed

[2016-10-15 11:51] beatelite opened #46 "Custom Action Dimension Not Showing in Rest APi Response"
**Summary:**
Custom Action dimensions (not visit dimensions) show in the piwik reports but not when I call the rest api.

**Reproduction Steps:**
Set up a visit dimension for the property
Set up an action dimension for the property
place the dimension tracker in the body of the page
the visit dimension
`_paq.push(['setCustomDimension', customDimensionId = 1, customDimensionValue = 'some visit valu

[2016-10-17 04:05] mattab commented on #46
I think it is a "missing feature". Please consider sponsoring this improvement by contacting us at: https://piwik.org/development/

[2016-10-20 17:35] tkapler opened #47 "custom dimension not in the $supportedParams in getParam"
I am developing a tracker plugin and i wanted to check custom dimension, the problem is, that it throws nasty error "Requested parameter dimension7 is not a known Tracking API Parameter." (the dimension 7 is filled in the $request variable.

The problem seem to be
https://github.com/piwik/piwik/blob/master/core/Tracker/Request.php#L327

where there is a list of available parameters for getParam()

[2016-10-24 17:11] HTGIT87 opened #48 "Custom Dimension plugin missing"
Hi,
I have tried installing, and then downloading the raw file for the custom dimension and it is empty.

[2016-10-27 14:32] barcelona23 commented on #23
Excellent point!
I had same problem and this helped a lot.
and yes, the doc should be updated.

[2016-10-27 18:47] tsteur commented on #23
Good point, I have just added it: https://github.com/piwik/developer-documentation/commit/102386106b8a9b6925462598196320bb3238d05e

Ran into this issue just recently as well actually

[2016-11-09 17:49] dwalkes opened #49 "add-custom-dimension not able to add more than 5 dimensions"
Hi Everyone,
Thanks for developing this product and this plugin!
I'm trying to enable additional custom dimensions as described on [the FAQ page](https://piwik.org/faq/how-to/faq_21121/), however attempting to add more than 5 custom dimensions are not successful.  Here is some example output for attempting to add a new custom dimension when I already have 5 defined:

[code]
As you can see, the sta

[2016-11-09 18:07] dwalkes commented on #49
One update:  I started over with a clean install from [Bitnami VM](https://bitnami.com/stack/piwik/virtual-machine) and before adding any data I was able to increment using --count=10 to up to 70 custom dimensions.  Trying to specify a large number of custom dimensions (95) failed to add any, similar to what happened with my situation above.

[2016-11-09 18:38] tsteur commented on #49
I just tried to reproduce and it worked fine for me. I wonder if the bitnami VM has any restrictions in how it is configured. Can you check via  SQL query `SHOW COLUMNS FROM piwik_log_visit  where Field like '%custom%'` whether all custom dimension columns are there and whether there are no numbers missing in between? The columns should be basically indexed from `custom_dimension_1` up to `custom_

[2016-11-09 19:06] dwalkes commented on #49
[code]
So all 1-70 look like they are there.  However, I tried to add a total of 100 custom vars after this and it looked as though it succeeded but it looks like only 1-6 were added.

As you suspected, my guess is that I'm running up against [data limits for a MySQL row](http://stackoverflow.com/questions/10349361/mysql-how-to-workaround-the-row-size-limit-of-66-kbytes).

What I'm trying to accom

[2016-11-10 18:41] tsteur commented on #49
If you run into this limit, you should probably remove some as Piwik and other plugins might want to add further columns over time. If you know what kind of values you will be storing, you could maybe also sometimes change `VARCHAR(255)` to eg `VARCHAR(100)`.

[2016-11-11 15:30] dwalkes commented on #49
Thanks I will remove some or try resizing.  Am I correct to assume I should make these changes directly to the database configuration?  I don't see a way to remove or resize through the console.

[2016-11-12 21:28] tsteur commented on #49
Yes, it would need to be done directly in the database

[2016-11-28 19:45] XinfinityoO opened #51 "Installation Error on 2.17.1"
Hi
When trying to activate the plugin using shell, i get the following error as shown in the screenshot

![capture](https://cloud.githubusercontent.com/assets/3344044/20683263/25d957d2-b610-11e6-86d6-e2b94ebccc07.PNG)

Could anyone please help me out on resolving this. My DB size is quite big

[2016-11-29 18:54] tsteur commented on #51
I searched for "mysql error 1114" and eg http://stackoverflow.com/questions/730579/error-1114-hy000-the-table-is-full and http://stackoverflow.com/questions/33670077/error-1114-the-table-is-full comes up. They are eg saying about changing `innodb_data_file_path`. I suggest to have a look at them. The issue is not directly related to custom dimensions.

[2016-11-29 18:54] #51 closed

[2016-12-22 18:37] KaanErturk commented on #28
I'd like this feature too.

**+1** from me.

[2017-01-22 10:38] adoram commented on #28
+1 from us, too

[2017-01-25 13:36] NickStees opened #52 "Where is the FAQ?"
https://piwik.org/docs/custom-dimensions/ has a link to the FAQ, but leads to the Github readme https://github.com/piwik/plugin-CustomDimensions/blob/master/README.md#faq which does not appear to have any FAQ info?

[2017-01-25 18:09] tsteur commented on #52
FAQ moved to https://github.com/piwik/plugin-CustomDimensions/blob/master/docs/faq.md I will update the link.

Thanks for reporting it 👍

[2017-01-25 18:09] #52 closed

[2017-02-07 19:04] tipmaster opened #53 "Track landing page with custom dimension"
I am trying to figure out how I can set the custom dimension field only for a landing page and not override it on subsequent requests; is this possible to do with javascript? Can I check if the value is set conditionally in JS?

[2017-02-07 19:46] tsteur commented on #53
Maybe custom dimensions in scope visit help?

[2017-02-07 20:06] tipmaster commented on #53
We are using custom dimensions with the scope "visit".

However, from the documentation:

Custom Dimensions in scope “Visit” can be sent along any tracking request and are stored in the visit of a specific visitor. **If you set different values for a given dimension during the lifetime of a visit, the last value set will be used.** A typical example could be any device information or the version o

[2017-02-07 20:12] tsteur commented on #53
Got it. You would probably need to set a cookie or something once you set the custom dimension the first time and then make sure it won't be overwritten anymore. However, this may be bit tricky since you won't know when it is a new visit. Eg visitor might visit website and you set custom dimension and cookie. Visitor comes back 40 minutes later => Piwik creates new visit, you would need to set the

[2017-02-07 20:32] tipmaster commented on #53
Thank you.

To confirm there is no way for me to use the Javascript SDK to either
- check if a custom dimension value has been set for the existing visit already
- query if this is an ongoing or new visit

or is there?

[2017-02-07 20:46] tsteur commented on #53
Exactly

[2017-02-13 22:25] jnmoons opened #54 "Multiple values for a single Custom Dimension in a single tracking event"
I have a use case where the content on my pages is labeled. There are multiple label types (which would correspond to multiple custom dimensions) and of each type multiple labels can be assigned. E.g. a news item could be labeled for the dimensions "theme" and "sector". The values could be:

theme: "safety" , "regulations"
sector: "food", "games"

and this for a single news item.

Is there a possi

[2017-02-13 22:41] tsteur commented on #54
I don't think what you want is possible with Custom Dimensions and rather sounds like a new plugin needed. You could set the custom dimension and each time afterwards track a new page view. But then it is similar problem as with events, you would track more pageviews for one article.

Only workaround would be to use several dimensions like "theme1: safety", "theme2: "regulations", ...
but it is no

[2017-02-21 14:21] code-penguin opened #55 "Dimensions are not saved for manual goal conversions"
I have the use case that I want to manually trigger a conversion when a user clicks on a button, and store additional data with that conversion. My goal is configured to allow multiple conversions per visit. For the data I have created an 'action dimension'.
I trigger the conversion manually as described in the documentation:
https://developer.piwik.org/guides/tracking-javascript-guide#tracking-a-

[2017-02-21 19:22] tsteur commented on #55
It is supposed to write into custom dimension in log conversion via the `Tracker.newConversionInformation` event in the method `CustomDimensions::addConversionInformation()`. The thing is by looking at the code: It seems to only look for visit custom dimensions, not action custom dimensions which is the behaviour you describe.

Why is this the case? Because we can still get the action dimensions f

[2017-02-22 08:51] code-penguin commented on #55
Thank you for your reply!
Yes I haven't tried it with visit dimensions because I only want to save this extra information for the conversions and not for the visit.
As far as I can tell though it's not possible to get the action dimensions for conversions from the log_link_visit_action table if you trigger the conversions manually. Because in GoalsRequestProcessor::processRequestParams the action

[2017-02-22 18:18] tsteur commented on #55
@mattab what do you think? It sounds to me like adding action dimension reports to goals "by dimension" report but not sure.

Another way that may work (rather a workaround) would be to go to "Actions => $YourActionDimension" then apply a segment by Goal "Visit converted a specific Goal ID". You should see the dimensions used when it was converted but haven't tested it.

[2017-02-23 08:01] mattab commented on #55
That's my understanding as well. I wonder why we didn't implement it as it seems to make sense that action-dimensions would be duplicated in log_conversion.

@code-penguin maybe you could create a pull request with your changes to have action dimensions stored in log_conversion?

[2017-02-23 09:21] code-penguin commented on #55
@mattab I have just created two pull requests with my changes:
https://github.com/piwik/plugin-CustomDimensions/pull/56
https://github.com/piwik/piwik/pull/11400
Unfortunately I had to make changes outside the plugin because I couldn't find an easy way to have the extra data picked up automatically. For actions there is $action->setCustomField but for goals there are no objects. If you have sugges

[2017-02-28 10:18] fberke commented on #28
Since you promote custom dimensions as best for future use, they can't have less functionality than custom variables.
+1 from me

[2017-03-06 07:49] gfernandez83 opened #57 "custom dimensions not compatible with piwik 3.0.1 3.0.2"
I recently upgraded from 3.0.0 to 3.0.1. Piwik says custom dimensions is not compatible with piwik 3.0.1 and also tried upgrading my test machine to piwik 3.0.2 but also not compatible.

custom dimensions version on our piwik is 3.0.0

[2017-03-10 09:35] code-penguin commented on #55
Hi guys, it looks my fix is not quite complete. The custom dimensions are now correctly stored in the log_conversion table, but there doesn't seem to be any way to then use them in reports. I think part of the problem is that Archiver::aggregateDayReport only adds custom dimensions to archives from visits and actions, and ignores the action dimensions stored in log_conversion. But even when I work

[2017-03-12 19:11] tsteur commented on #57
Did you install Piwik from git or with the regular zip downloaded from http://piwik.org ? Do you still get this error? If so, can you check if the file `/Users/thomassteur/Downloads/CustomDimensions/plugin.json` contains `"piwik": ">=3.0.0-dev,<4.0.0"`?

Does it work if you specify `"piwik": ">=3.0.0-b1,<4.0.0"`?

[2017-04-07 09:44] iliassk commented on #28
+1

[2017-04-24 10:13] sgiehl commented on #57
I'm not able to reproduce that.
@gfernandez83 Can you give us some more information? Otherwise we won't be able to help here.

[2017-04-24 10:14] sgiehl commented on #28
will work on this issue after piwik/piwik#11579 is finished and released

[2017-04-25 07:15] gfernandez83 commented on #57
I install via the zip file and found that the plugin needs to be copied from the old folder.

[2017-04-26 20:45] jwwisniewski commented on #57
I think I have the same issue here. I've installed piwik 3.0.2 via the debian package a couple of days ago. Today I've downloaded the plugin version 3.0.1 and activated it without ay visible errors. I see the Custom Dimensions section in the left-hand menu but when I click it the main window is empty. There are no errors in the JS console.

[2017-04-26 20:48] sgiehl commented on #57
@jwwisniewski could you please check in your browser if all request succeed if you open that page, or if any fails? Does the plugin appear installed and activated in the plugin admin?

[2017-04-27 08:43] jwwisniewski commented on #57
no http or js errors were present yesterday, plugin was marked as installed and activated and the page was empty. today when I entered once again all works fine. looks like there was some kind of cache was present ot sth.

[2017-05-04 08:45] sgiehl commented on #48
This was an issue on our plugin page. Zip files appeared to be empty on windows. Should be fixed now.

[2017-05-04 08:45] #48 closed

[2017-05-04 15:40] sitapson commented on #54
I am in need of precisely this functionality also.

[2017-06-08 11:25] mattab commented on #57
Thanks for feedback @jwwisniewski
@gfernandez83 if you ever experience issue in the future, please create another issue as we'd love to fix such issue, but so far we were not to reproduce.
Closing

[2017-06-08 11:25] #57 closed

[2017-06-09 08:42] tumluliu opened #62 "regex conventions in customdimentions"
Hi, I am trying to get the stats of a specific querystring parameter for each incoming request at a specific endpoint. The requests look like:

[code]

What I want is the stats of the values of `k1`, but only on `service1`. I thought I could use the `Page URL Parameter` feature in CustomDimentions. But I am wrong because it will get an aggregated result. I can not use the `Page URL Parameter` toge

[2017-06-10 13:17] tumluliu commented on #62
I just can not feed a regular expression that can satisfy customdimensions plugin. it's killing me...

[2017-06-11 20:11] tsteur commented on #62
`/` should be actually escaped automatically afaik. Try it without it being escaped. Should work according to https://3v4l.org/cSnMJ which is same logic as Piwik does.

[2017-06-11 20:17] tsteur commented on #62
Actually, I just tried to reproduce. Problem is that `&` is converted to `&amp;` when it is saved in the DB and we need to unsanitize the stored regex before applying it.

This is a bug.

As a test you could probably add in https://github.com/piwik/plugin-CustomDimensions/blob/3.0.1/Dimension/Extraction.php#106 a line `$pattern = \Piwik\Common::unsanitizeInputValue($pattern);`

[2017-06-11 20:19] tsteur commented on #62
You can also see the change in https://github.com/piwik/plugin-CustomDimensions/pull/63/files

[2017-06-12 07:38] tumluliu commented on #62
thanks a lot, @tsteur !
I tried with a simplified pattern `/service1.*k1=(aaa|fff)`. But it doesn't work either in piwik although it works fine in 3v4l.org.

I am looking forward to seeing the next release with this bug fixed.

[2017-06-12 07:49] tumluliu commented on #62
btw, which pattern should be used after this bug is fixed, `\/service1\?.*&?k1=(aaa|fff)` or `/service1.*k1=(aaa|fff)`?

[2017-06-12 08:17] tsteur commented on #62
The second one `/service1.*k1=(aaa|fff)`

[2017-06-12 09:04] tumluliu commented on #62
thanks!
may I ask when the next release will be available?

[2017-06-12 20:13] tsteur commented on #62
Did it work for you? We would likely release an update a few days after your confirmation.

[2017-06-13 04:51] tumluliu commented on #62
I have just tried with the updated `Extraction.php`, and I think it works correctly now. But I have another question: is it possible to clear all the previous stat results in CustomDimensions? Just like a reset action.

[2017-06-13 19:33] tsteur commented on #62
That's not possible unfortunately because the data is generated during tracking and not during report generation.

You could only set the tracked data from `log_visit`, `log_link_visit_action` and `log_conversion` for all `custom_dimension*` columns to `null` in your database and then go through this process https://piwik.org/faq/how-to/faq_59/

BTW: I will release a new version by the end of the

[2017-06-13 19:39] tumluliu commented on #62
got it. Thanks a lot for your support!

this issue can be closed then.

[2017-06-13 19:40] #62 closed

[2017-06-19 07:13] froger-me opened #65 "Admin panel is empty"
Hello,

Browsing to:
`/index.php?module=CustomDimensions&action=manage&widget=undefined&idSite=1&period=day&date=yesterday`

using the menu items in admin shows an empty screen.

Is it a known issue?

Piwik version: 3.0.4
CustomDimension version (dopwnloaded from Piwik Marketplace): v3.0.2

[2017-06-19 07:15] sgiehl commented on #65
Can you see any error in the dev tools of your browser?

[2017-06-19 07:18] froger-me commented on #65
It seems to me it was related to the browser's cache: after opening the dev tools (and with disable cache option ticked), I reloaded the page and suddenly got the content appear.
Thank you for the swift reply!

[2017-06-19 07:23] #65 closed

[2017-06-21 04:16] mattab commented on #54
We likely won't implement "Multiple values" for custom dimensions.

[2017-06-21 04:16] #54 closed

[2017-06-23 11:06] RMastop opened #66 "Sort Custom dimensions in reporting page alphabetically"
When selecting the custom dimension from the reporting menu, the list is not ordered in an alphabetical way. If it does, it would improve the usablility of custom dimension reports.

[2017-07-20 07:52] tumluliu opened #67 "[how-to] do a force refresh to get the report immediately"
is it possible to do a force refresh to get the report immediately? I have sent my nginx server log to the piwik website with customdimensions enabled. But after more than 24 hours, there are still only "There is no data for this report." shown on the widgets for the dimensions. I am pretty sure that the log data has already been processed properly because the stats on other widgets like "Visits O

[2017-07-24 05:04] mattab commented on #67
To force Piwik to process reports, set browser archiving to true, and a small timeout, in General settings. Learn more: https://piwik.org/docs/setup-auto-archiving/

[2017-07-24 05:04] #67 closed

[2017-08-17 16:57] nuynait opened #68 "Custom Dimension Setting Now Showing?"
I installed custom dimensions plugin by manually unzip the downloaded zip files and copy to piwik/plugins folder. Then Activate using ./console plugin:activate CustomDimensions. It says activate success. I can see the Custom Dimensions on the side bar. However, when I click on it, it shows nothing.

![image](https://user-images.githubusercontent.com/2152195/29423925-9ca246ea-834b-11e7-985b-f443b53

[2017-08-29 18:26] nuynait commented on #68
When I visit the other day, seems it starts showing as normal. So problem solved.

[2017-08-29 18:26] #68 closed

[2017-09-05 16:32] #20 closed

[2017-09-05 16:32] #28 closed

[2017-09-05 16:32] #46 closed

[2017-09-24 15:14] bmorg opened #70 "Add warning about DB resource usage when installing in large instances"
With large databases, activating the plugin (after installation) uses **a lot** of resources. This just crashed a server of mine.

There is some information about this hidden in the [FAQ](https://plugins.piwik.org/CustomDimensions#faq), but this is not mentioned in the [Install Notes](https://piwik.org/docs/custom-dimensions/#installing-custom-dimensions). It would be nice to include it there.

[2017-09-25 02:26] mattab commented on #70
There is already this warning in the plugin page @ https://plugins.piwik.org/CustomDimensions

[2017-09-25 02:26] #70 closed

[2017-10-05 12:01] peterbo commented on #32
There should be an option to retain the old behavior. From multiple instances I know that some users like to have a comparison with the overall users with the CustomDimension not defined. Setting all CDs on every page with a null-value is not too practical because a lot of code would have to be edited and a lot of unneeded redundancy would be created. Introducing a new CD on any page would become

[2017-10-05 18:18] mneudert opened #71 "Non-deterministic AutoSuggest results"
The current `AutoSuggest::getMostUsedActionDimensionValues()` implementation orders the results by count only. This is perfectly fine for a real user that somewhat expects a "magic" (non-alphabetical) ordering for such a request.

While testing the build with `dist: trusty` we face the problem of the then new MySQL version sorting the results differently in tests. Obviously because most results ha

[2017-10-05 19:13] sgiehl commented on #71
Guess option 1 would help preventing similar problems in the future, so maybe that would be a more reliable solution?

[2017-10-05 21:24] mattab commented on #71
1) will work great :+1:

(It is already the behavior we have implemented in Piwik reports where we sometimes sort alphabetically when the metric used is the same.)

[2017-10-06 17:42] mneudert commented on #71
Closing in favor of PR.

[2017-10-06 17:42] #71 closed

[2017-10-12 13:58] osw-mw commented on #68
I have run into the same problem, also after a manual install.

[2017-10-19 23:04] mattab commented on #32
@peterbo Thanks for feedback. Please create a new issue to have an option/setting to restore the old behavior (this issue here was done 1 year ago actually so will close it now)

[2017-10-19 23:04] #32 closed

[2017-11-01 16:46] thegoatherder opened #75 "trackGoal with CustomDimension not working"
Hi,

I have Piwik 3.2.0 and CustomDimension v3.1.1

I have 10 Visit and 10 Action scoped dimensions. I can track Visit dimensions no problem. Tracking Action Dimensions does not appear to work.

If I visit `Dashboard > Visitors > SomeCustomDimension` - the report loads okay with data. If I visit `Dashboard > Actions > SomeCustomDimension` the report shows no data. I am expecting to see dimensions

[2017-11-17 11:44] peterbo opened #77 "Old CustomDimensions behaviour (Value not defined for Visitors without defined CD) should be optional"
For statisical reporting, for some it's important to evaluate the Visitors with the CustomDimension set versus visitors without the CustomDimension (old behaviour). This feature should be configurable / optional.

[2017-12-08 03:39] mattab opened #78 "Dimension values are displayed with HTML entities in Visitor log and profile"
The custom dimension values should be displayed without the HTML entities (but without introducing a XSS)

In the example below we're storing a JSON string as custom dimension and here is the result:

![entities2](https://user-images.githubusercontent.com/466765/33750062-49a387c6-dc36-11e7-8da4-6f6d1de0c7d3.png)

![entities](https://user-images.githubusercontent.com/466765/33750063-49d707cc-dc36-1

[2017-12-08 03:45] mattab opened #79 "Manually changing the custom_dimension_X fields to be unlimited length fields instead of VARCHAR 255?"
Currently custom dimension values are limited to 255 characters, but in some cases we want to track more than 255 characters in a custom dimension.

Currently, if trying to issue a request with a dimension value longer than 255 chars, the tracker API request will fail with an error like

When manually changing the column type from VARCHAR 255 to TEXT, then the data is tracked properly, and display

[2017-12-08 06:27] tsteur commented on #79
Yes would definitely not making this the default. And would also possibly trim after 255 characters to avoid errors and rather not fully tracking it instead of failing.

[2017-12-10 22:47] mattab commented on #79
Maybe the columns could be to TEXT type in the Custom Dimensions release for Piwik 4.0.0 in the future.

[2018-01-17 14:22] loopmode opened #83 "Copy custom dimensions settings across sites"
Hi
How can you copy custom dimensions settings from one site to another?
Can you just clone the rows in the database and change the siteId?
(Seems quite scary for non-DB people like me..)

[2018-02-14 10:11] TomTheRock commented on #34
yes this is really anoying!

[2018-02-14 18:34] tsteur commented on #34
If I remember the problem is that if we added a delete custom dimension button, the previously tracked data for that dimension would still exist in the so called "log" tables which stores the raw data. If you then create another dimension, that slot would be used again and your old data mixed with new data.

Deleting this old data is not "trivial" as it may take a long time to delete this data, an

[2018-02-19 09:22] jucajuca opened #84 "not working"
Hello,

I installed the plugin using the market place. Upon activation I went  to the menu item Custom Dimensions and nothing appears.

Matomo version: 3.3.0
MySQL version: 5.5.58
PHP version: 7.1.14

everything under "System Check" has a check BUT the NFS file system, which should not have other impact than slower performance.

![image](https://user-images.githubusercontent.com/24567185/36370286-

[2018-02-19 09:39] sgiehl commented on #84
Do you see any javascript errors in the browser console?
Maybe clearing the tmp directory of Piwik might help.

[2018-02-19 09:57] jucajuca commented on #84
nope, No JS errors. I cleared the tmp folder, deleted and reinstalled the plugin. Still a white screen appears. Where are the error logs of Matomo?

[2018-02-19 10:14] jucajuca commented on #84
it is most likely a PHP error, below is the HTML that I get. As you can see "piwik-custom-dimensions-manage" is empty.

[code]

[2018-02-19 10:18] sgiehl commented on #84
That should be filled up with javascript. Any failing requests in the network tab of browser console?

depends on the configuration. But it should be included in the php error logs of your server...

[2018-02-19 10:44] jucajuca commented on #84
no, all request are good. (I replaced my domain with "domain")

[code]

The only thing logged right now is this:

[19-Feb-2018 08:58:10 UTC] Error in Matomo: Could not verify the security token on this form.
[19-Feb-2018 08:58:16 UTC] Error in Matomo: Could not verify the security token on this form.

This only appeared once. (First time I installed CustomDimensions). After that it didn't appear a

[2018-02-19 10:59] jucajuca commented on #84
funny thing: I installed other plugins: bot-tracker, invalidate reports and Referrers Manager. And **now custom dimensions work**.

I scratch my head a bit ; ) Is there any dependency on other plugins maybe?

[2018-02-19 11:02] sgiehl commented on #84
No there isn't. Maybe you didn't clean the built javascript assets in tmp directory properly or something like this...

[2018-02-19 11:02] #84 closed

[2018-03-12 01:19] mattab opened #85 "When a custom dimension is deleted, disable cron archiving for all segments that use this custom dimension"
## Context

When a custom dimension is delete, and possibly when it's deactivated (to be tested), then any segment that still use this custom dimension, will fail to process.
* When the segment is processed from cron, it leads to the whole archiving process to fail and error, preventing other reports to run. The error looks like: `ERROR [2018-03-12 00:12:06] Got invalid response from API request:

[2018-03-12 01:24] tsteur commented on #85
FYI: Custom reports stores its segment definition in a custom reports table. So ideally this solution would trigger an event that lets other plugins know to modify all segments (this would be needed in custom dimensions, but maybe we can use some generic event so it also works in the future for other things maybe, not needed though), and offer a simple method to manipulate a segment (this would be

[2018-03-12 18:59] tsteur commented on #85
BTW the segment archiving problem is more a general core problem and does not only apply to custom dimensions. Same problem exists when deactivating a plugin that provides segments etc. Maybe the segment filter in core should simply ignore such failures and leave a segment filter out when it is not available? Whether the segment is valid would then be only checked when editing or adding a segment

[2018-03-15 18:22] tsteur opened #86 "Tracking request may trigger a warning when providing an invalid regex"
For example:

[{"dimension":"url","pattern":"\/abcdefghijkl(*)\/"}]

See https://3v4l.org/8ENBl trigggers a warning in the logs:

Ideally, in all plugins where it is possible to define a regex, we validate that the regex is at "valid". For example Goals etc. This will increase the correctness of the tracked data.

[2018-03-22 15:31] mush-zhang opened #87 "log data correctly saved in database, but cannot be displayed in web page"
I installed the plugin via the web setting page, and add a custom dimension with action scope. the tracking and displaying works fine previously.
I used the matomo nodejs wrapper and add an attribute dimension1: <value> in the things to be tracked. the custom dimension value and all other values are correctly tracked and saved in the logs. but in the web page, both action->pages and visitors->visi

[2018-04-04 11:26] L3on1d opened #88 "custom dimensions not compatible with piwik 3.4.0?"
Hi guys!

Got this error after plugin install - "The following plugins are not compatible with Matomo 3.4.0 and could not be loaded: CustomDimensions."

How I understood plugin not adapted for new Matomo's version?

Thanks!

[2018-04-05 08:07] tsteur commented on #88
This should work fine. Which version of custom dimensions do you have installed?

[2018-04-05 11:50] L3on1d commented on #88
We can close my topic, I managed to fix this issue. Thanks.

[2018-04-05 14:55] #88 closed

[2018-04-06 15:17] tsteur commented on #86
Be good if this is something that could be looked at. @mattab

[2018-04-09 11:47] mattab commented on #86
Sounds good. From now on we'll take a closer look at the `Current sprint` issues. cc @diosmosis

[2018-05-26 05:59] Vinutab opened #92 "Unable to activate the custom dimensions plugin"
Hi,

I have installed the plugin and the custom dimensions folder is available under the plugins section. We activated the plugin through the activate plugin option from the front end and it took almost 6 hours to complete the process in db. Now the table custom dimension is available in the db. However under the manage plugin the status for the plugin is still inactive.

Please help.

[2018-06-05 05:15] phucpnt opened #93 "How to stop the archiver?"
Is there any way I can stop the archiver of custom dimensions?

[2018-07-14 21:40] mpiivonen opened #94 "Custom dimension extracting query params does not work correcly ?"
Hi,

We just updated to the new version 3.5.1 of matomo to get the advantage of custom dimension to track where visitors come to our site. Followed examples as https://matomo.org/docs/custom-dimensions/

Our page uses react at the front and we are using react-piwik to track users but we hoped to use query parameter extraction for now.

I have tried to create custom dimension with page url paramete

[2018-07-23 09:39] Vinutab opened #96 "Custom Dimension not tracked for the landing page"
Hi,

Custom dimension is not tracked for the landing page, but is tracked if we click on any other page in the landing page.

We are getting the attached error for the piwik.js only in the landing page.
![image](https://user-images.githubusercontent.com/38976040/43069195-224f091e-8e8a-11e8-912a-c6823795ef99.png)

Also below is the error
"Failed to load https://piwik.test.com/piwik/piwik.php :  No

[2018-07-23 09:39] #92 closed

[2018-07-23 20:33] tsteur commented on #96
You may need to configure cors in your config: https://matomo.org/faq/how-to/faq_18694/

Make sure to set custom dimensions before tracking a pageview.

[2018-08-03 23:10] tsteur opened #97 "Use new "write" role instead of "admin" role"
In Matomo 3.6 we added a new role "write". We should now change where we check for admin permissions to check instead for write permission. Eg `checkUserHasAdminAccess` becomes `checkUserHasWriteAccess`

We would also need to increase the required Matomo version to 3.6.0-X so it won't cause any trouble with older versions.

[2018-08-29 21:19] TyRoden opened #99 "Add Custom Dimensions to Live Visitor Log"
The regular visitor log shows the custom dimensions data, but not the Live Log.

[2018-09-16 21:30] #97 closed

[2018-10-02 20:02] peterbo opened #101 "Manage Dimensions: Sorting by ID is not numeric"
![cd-sorting](https://user-images.githubusercontent.com/1018973/46373663-e8e86480-c68e-11e8-9950-b9a4529a17bc.PNG)

[2018-11-29 11:23] aj-justo opened #110 "Type of values for custom dimensions: integer is being treated as string"
I have setup a custom dimension that I am tracking via JS, it is working fine, but the problem is that we send integer values and Matomo seems to be treating those values as strings. I cannot, for instance, use numeric operators like “equals” or “larger than” when segmenting by that custom dimension.

Is there anything that can be done about it? Or is it that values of custom dimensions can only b

[2018-11-29 18:43] tsteur commented on #110
That's because currently all custom dimensions are considered as "dimension" and not "metric". It would either need an option to consider a dimension as a "metric", or have "custom metrics", or we would need to tweak Matomo to enable all segment comparisons for certain dimensions.

If you really wanted to workaround, the only solution be probably to change `plugins/CustomDimensions/CustomDimension

[2018-11-30 09:31] aj-justo commented on #110
Thanks a lot for that info @tsteur. The problem with that patch of course is that we will need to make that change every time we update Matomo.

Is there any other way to track this? Are custom variables different in this respect? What I'm sending is the "age" of a user, the number of days since they have become a user basically.

[2018-11-30 19:53] tsteur commented on #110
Can't think of any other workaround unfortunately. For custom variables it is likely the same but haven't tested. For sure be great to have possibility to select a "type" and then the segment comparisons adjust accordingly (and also the formatting of values etc).

[2018-12-03 01:35] sadortun commented on #22
@RMastop  any update on this ?

[2018-12-03 01:41] tsteur commented on #22
@sadortun no work has been done on this so far. We would need to see how much this can be done, and then performance be another problem as you would possibly need to iterate over billions of entries on high traffic sites. This process could be quite slow...

[2018-12-03 10:32] aj-justo commented on #110
Thanks @tsteur. I'll give custom variables a try and let you know if it works differently or not.

Is it worth creating a ticket for this functionality/change to be considered for development?

[2018-12-11 09:43] kaplun opened #112 "Custom dimension repeated when generating reports"
I am on Matomo 3.7.0, with latest Custom Dimension plugin. If I try to generate an email report, Custom Dimension are repeated an arbitrary number of times.

![schermata del 2018-12-11 10-42-21](https://user-images.githubusercontent.com/119349/49791798-7ac8b980-fd31-11e8-9f6e-0ce72f4ab1a3.png)

[2018-12-11 18:50] tsteur commented on #112
Are you using latest version of Custom Dimensions? Should have been fixed here maybe: https://github.com/matomo-org/plugin-CustomDimensions/pull/104

[2018-12-11 18:52] tsteur commented on #112
Actually, I can reproduce it here

[2018-12-11 21:00] #112 closed

[2019-01-11 16:03] vlil opened #114 "Primary Key should be created on matomo_custom_dimensions"
The table matomo_custom_dimensions doesn't have a primary key defined. This prevents usage of a galera cluster database.

Suggested fix: add an explicit primary key

[2019-03-18 12:45] lindsaymacvean commented on #87
We also seem to be experiencing this issue. The dimension data is in the DB. The dimension plugin is active and configured with the correct ID.

In the UI when we click on the custom dimension it seems to almost immediate return with
![Screenshot](https://user-images.githubusercontent.com/1574178/54530613-27db4f80-497b-11e9-9486-84a5aa284736.png)

So it would appear that the query is not even runn

[2019-03-21 10:16] shark2work opened #116 "Starting with version 3.1.4 the custom dimension plugin is broken on our installation"
Current version of the  Custom Dimensions Plugin: 3.1.2 / Matomo Versions: 3.8.1 and 3.9.0
When updating to version 3.1.4 or higher, the custom dimensions are broken, the dashboard and archive process as well:

Error in browser console, when accessing the dashboard of a website which has custom dimensions:
`{"result":"error","message":"Too few arguments to function Piwik\\Plugins\\CustomDimensions

[2019-03-21 19:08] Chocheu opened #117 "Reprocess report for new custom dimension"
Hi !

My problem is that I recently created a new custom dimension in scope "Action" with regex rules to extract some information from my website's URI. Now, I want to apply these rules on my previous data (oldest period).

Is there any way to reprocess old report to include new custom dimension ?
I searched in the documentation and the FAQ and everything seems to lead to this procedure https://ma

[2019-03-21 19:20] tsteur commented on #116
It looks like a file was maybe not updated correctly for some reason. Could you maybe download the plugin from https://plugins.matomo.org/CustomDimensions manually and copy/replace the files in `plugins/CustomDimensions` directly?

[2019-03-22 09:24] shark2work commented on #116
Indeed you're right. There was an issue with the files and its permissions.
What I did to solve the issue:
- Deactivate SELinux (set to permissiv)
- Removed all files from the folder "CustomDimensions"
- Load the latest version 3.1.6 and uploaded the file in the empty folder "CustomDimensions"
-> That's it - now it works.

Many thanks for the hint!

[2019-03-22 09:24] #116 closed

[2019-03-22 11:03] Chocheu commented on #117
Okay, maybe there is a way manually. I will keep investigate...
Thank you @sgiehl  for your help !

[2019-03-26 11:02] Chocheu opened #118 "Delete Custom dimension with console command is not working"
Hi,

I tried to delete unwanted custom dimension and it didn't work as expected. I followed the instruction found in the FAQ at https://plugins.matomo.org/CustomDimensions#faq

 Using the console command an replacing $scope by "action" and $index :
./console customdimensions:remove-custom-dimension --scope=$scope --index=$index

Indexes were specified by the console command : ./console customdimen

[2019-03-26 20:10] tsteur commented on #118
If you pass `action`, it should only remove a column from `matomo_log_link_visit_action` and indeed the number of available slots should be 4 afterwards. This is expected behaviour as you actually drop the column from the database.

Looking at the code, it doesn't look like it will actually remove the column also from visit table if you pass `action`. Are you sure about that one and is there a cha

[2019-03-26 20:11] tsteur commented on #118
created https://github.com/matomo-org/plugin-CustomDimensions/pull/119

[2019-03-26 20:33] Chocheu commented on #118
Hi,
Thank you for the feedback !

Unfortunately, I will not repoduce this because of my installation. I 've got test and prod on the same server (it's totaly messy but I can't change it for now).

Actualy, It also seems to remove slots for other websites that are watched with the same Matomo. I thought that deleting custom dimension for one website would not impact the second website but it did...

[2019-03-26 22:41] tsteur commented on #118
You can't remove a custom dimension just for one website directly. It will remove the column physically from the DB (the command prints a warning about this). That is definitely expected.

[2019-03-27 08:53] Chocheu commented on #118
I understand.
In my case, the command had print that the custom dimesion I was trying to delete was used by 1 website and refer to "myDimension1". It confused me... :/
Maybe the message needs more precisions as the command "remove-custom-dimension" removes a slot (the same way the command "add-custom-dimension" adds a slot) but not delete the custom dimension ?

[2019-04-05 02:01] MastaBaba opened #121 "How to get a custom dimension out of the API?"
I use this to get Page URLs out of the API:

`https://analytics.babasprojects.com/?module=API&method=Actions.getPageUrls&idSite=2&date=today&period=week&format=json&filter_limit=20&token_auth={{my token}}`

I have a custom dimension that I call like so:

` _paq.push(['setCustomDimension', 1, window.location.href]);`

How do I get what is recorded for this custom dimension out of the API like I do

[2019-04-05 02:47] tsteur commented on #121
Hi there, could you please ask this question in our forum? https://forum.matomo.org  You find the API reference here: https://developer.matomo.org/api-reference/reporting-api#CustomDimensions

[2019-04-05 02:47] #121 closed

[2019-04-09 06:31] toredash commented on #34
This please. When playing around with new sites it is a hassle to have delete it, as that is the only way to get a "clean state" for a site.

I'm waiting for the day someone added a couple of dimensions to a production site, not knowing there isn't an easy way to remove the dimension.

[2019-05-20 10:01] mattab opened #127 "Trim custom dimension values (remove spaces)"
Goal of this issue is to introduce a `trim` to custom dimensions so that values are stored without spaces at the beginning or the end.

As reported by customer:

I have set up a few custom dimensions up based on the URL parameter. I did this by setting up a variable in Tag Manager which picks up the URL parameter. My only issue is that if I have the following url parameter: '?test=urlParameter' an

[2019-05-21 23:16] #127 closed

[2019-06-19 07:23] #118 closed

[2019-07-11 00:18] peterbo commented on #75
I can confirm that this is not working. Neither with the Javascript tracker, nor with triggering the goal via URL call (and the parameter &dimensionXX=value).

[2019-07-14 20:17] tsteur commented on #75
That's expected behaviour see https://github.com/matomo-org/matomo/blob/3.11.0-b1/plugins/Goals/Tracker/GoalsRequestProcessor.php#L67 as there is no action when you track a goal manually. I suppose it works when you a goal is tracked as part of an action.

There's not much we can do probably unless I'm seeing things wrong. Could we close this issue? @peterbo ?

[2019-08-13 20:36] diosmosis opened #133 "Metric documentation for "Unique Actions" is incorrect"
See:

![image](https://user-images.githubusercontent.com/125140/62975521-66145800-bdcf-11e9-8a9d-17649fb304a6.png)

[2019-08-14 19:35] sgiehl commented on #133
Seems that because of `nb_visits` column is used as unique actions here: https://github.com/matomo-org/plugin-CustomDimensions/blob/d5c18c6af2a0efc4c32ac63fbae1f3054fa46691/GetCustomDimension.php#L158

Maybe it would be enough to set a correct documentation in that case...

[2019-08-26 01:29] tsteur opened #134 "Update visit and action only if there is an action dimension configured"
We are regularly seeing one of our biggest loads coming from this update statement on `log_visit` for `last_idlink_va`: https://github.com/matomo-org/plugin-CustomDimensions/blob/3.1.9/Tracker/CustomDimensionsRequestProcessor.php#L39

and `log_link_visit_action` for `time_spent`: https://github.com/matomo-org/plugin-CustomDimensions/blob/3.1.9/Tracker/CustomDimensionsRequestProcessor.php#L45-L47

[2019-08-26 22:13] #134 closed

[2019-12-10 04:32] KarthikRaja1388 opened #138 "Transitions: Issues displaying Transition of Action URLs under a Custom Dimension"
Issue: When viewing a transition report for an Action URL under a Custom Dimension displaying an error "Either action had no pageviews during the period or it is invalid"
![transition_error](https://user-images.githubusercontent.com/26726594/70493723-8e3d7900-1b6d-11ea-93b0-4a6672e0b67d.PNG)

**Step to reproduce:**
1. Create a Custom Dimension
2. View the Custom Dimension report under "Behaviour"

[2019-12-10 04:33] tsteur commented on #138
Is the custom dimension actually for a page view? This might be otherwise simply not supported yet

[2020-03-04 13:23] mockey opened #146 "Labels are not URL-encoded"
It seems that labels in other reports are URL-encoded, but apparently not in Custom DImensions. Is this intentional?

[2020-03-04 13:28] mockey opened #147 ""Show totals row" is not remembered"
It seems that other reports somehow remember when "Show totals row" was selected.
This doesnt't work with Custom Dimension reports. They always appear without totals row.

[2020-03-04 20:17] tsteur commented on #146
Yes this should be expected AFAIK @mockey You request this through the API? which format?

[2020-03-06 21:22] kalamazoopubliclibrary opened #148 "missing 'time_spent' column"
We updated Matomo to version 3.13.3 yesterday. Since then we are getting frequent errors in the log:

AH01071: Got error 'PHP message: Error in Matomo (tracker): Error query: preparing query failed: Unknown column ‘time_spent’ in ‘field list’ : UPDATE matomo_log_link_visit_action SET time_spent = ? WHERE idlink_va = ? In query: UPDATE matomo_log_link_visit_action SET time_spent = ? WHERE idlink_va

[2020-03-06 21:37] kalamazoopubliclibrary commented on #148
Uninstalling and reinstalling the plugin seems to have resolved this issue.

[2020-03-06 23:50] tsteur commented on #148
Thanks for letting us know @kalamazoopubliclibrary

[2020-03-17 19:15] mockey commented on #146
PHP with `Request::processRequest`.
Is matomo actually adding some URL-encoding for things that I add myself like Custom Dimensions or Events or do you just leave the strings as they are sent?
I just saw that I added URL-encoding for an event name in `_paq.push(["trackEvent", ...`
but I didn't add it for a Custom Dimension value in `_paq.push(["customDimension", ...`
and that's exactly how I get i

[2020-03-18 10:53] MatthiasBunzel opened #149 "Matomo Plugin: Custom Dimensions"
Dear Sir or Madam,

we use the matomo analytics solution on a debian host.

We've got a problem with an installed plugin: Custom Dimension.
We want to increase the dimensoin in the visit scope, but it doesn't work.

The instruction on: https://matomo.org/faq/how-to/faq_21121/ has not the effect that we need.
But after sending the command, the application doesn't count the dimension.

![image](http

[2020-03-19 19:32] tsteur commented on #149
If it helps you could always add these columns manually, eg

[code]

Maybe see if that helps? You could do the same for the other 4 dimensions as well by changing `custom_dimension_1` to `custom_dimension_2` etc. Or you add one, and then try the command again.

[2020-03-20 15:13] MatthiasBunzel commented on #149
It works with this SQL Statement. Thank You!

[2020-03-20 15:13] #149 closed

[2020-04-17 09:42] embrainer commented on #36
We want to use custom dimensions to create segments. When adding such a segment to a single website, this works as expected, however, when adding the segment to all websites, a popup appears with the same error:
`The specified segment is invalid: Segment 'dimension1' is not a supported segment.`

[2020-04-20 00:26] tsteur commented on #36
@embrainer this is expected unfortunately since the dimension1 might not exist for all websites (or when creating a new website in the future)

[2020-05-07 10:18] mattab opened #155 "Report "Pageviews" as well as "Actions" for all custom dimension values"
it would be very valuable (and more consistent) to also report on Pageviews along with Actions metrics in custom dimension reports, for each value.

[2020-06-22 09:34] #78 closed

[2020-06-29 22:22] tsteur commented on #47
Sorry for the late reply! It's probably not needed anymore. Generally the way to go be to use getParams:

[code]

[2020-06-29 22:22] #47 closed

[2020-06-29 22:23] #49 closed

[2020-06-29 22:25] tsteur commented on #75
Closing for now see my last comment. Happy to reopen this issue though if it's still needed https://github.com/matomo-org/matomo/issues/new

[2020-06-29 22:25] #75 closed

[2020-06-29 22:29] tsteur commented on #87
Hi there,

we're moving this plugin directly into core as part of Matomo 4. Not sure if you're still having the problem? But this might fix the issue you're having then with Matomo 4. I'll close the issue as we believe anything related to this should not happen anymore but we'll be happy to reopen or look into it again if it's still a thing with Matomo 4.

[2020-06-29 22:29] #87 closed

[2020-06-29 22:30] tsteur commented on #93
@phucpnt unfortunately not. Unless you disable custom dimensions plugin by going to Admin -> Plugins. Hope this helps!

[2020-06-29 22:30] #93 closed

[2020-06-29 22:31] tsteur commented on #94
@mpiivonen sorry for the very late reply. We're usually aiming to reply quite fast. For such questions be great to ask in our forum: https://forum.matomo.org/ as we're only handling bug reports and feature suggestions in Github.

[2020-06-29 22:31] #94 closed

[2020-06-29 22:31] #96 closed

[2020-06-29 22:34] tsteur commented on #110
@aj-justo sorry for the late reply. This would be part of https://github.com/matomo-org/matomo/issues/12390

[2020-06-29 22:34] #110 closed

[2020-06-29 22:35] tsteur commented on #114
@vlil sorry for the late reply. This was fixed a while ago 👍

[2020-06-29 22:35] #114 closed

[2020-06-29 22:37] tsteur commented on #146
@mockey just fyi in Matomo 4 we have removed the PHP format therefore closing this issue for now.

[2020-06-29 22:37] #146 closed

[2020-06-29 22:38] tsteur commented on #147
👍  closing this as a duplicate of https://github.com/matomo-org/matomo/issues/14315

[2020-06-29 22:38] #147 closed

[2020-06-29 22:38] tsteur commented on #148
FYI we're moving this plugin into core now so this won't be any issue anymore.

[2020-06-29 22:38] #148 closed